# Análise dos Dados Consolidados

In [29]:
import pandas as pd

In [30]:
df = pd.read_excel('report-consolidado.xlsx')

In [31]:
df.columns

Index(['Segmento', 'País', 'Produto', 'Qtde de Unidades Vendidas',
       'Preço Unitário', 'Valor Total', 'Desconto', 'Valor Total c/ Desconto',
       'Custo Total', 'Lucro', 'Data', 'Mês', 'Ano'],
      dtype='object')

In [32]:
def tratar_nome_colunas(colunas):
    colunas_tratadas = (
        colunas.str.strip()
               .str.lower()
               .str.replace(' ', '_', regex=True)
               .str.replace(r'[^\w]', '', regex=True)
    )
    return colunas_tratadas

In [33]:
df.columns = tratar_nome_colunas(df.columns)

In [34]:
df.columns

Index(['segmento', 'país', 'produto', 'qtde_de_unidades_vendidas',
       'preço_unitário', 'valor_total', 'desconto', 'valor_total_c_desconto',
       'custo_total', 'lucro', 'data', 'mês', 'ano'],
      dtype='object')

## Agrupando Dados

#### Por Segmento

In [35]:
colunas = ['desconto', 'custo_total', 'lucro']
df_segmento = df.groupby('segmento')[colunas].sum().round(2)
df_segmento['margem_lucro'] = round((df_segmento['lucro'] / df_segmento['desconto']) * 100,2)
df_segmento

                     desconto  custo_total        lucro  margem_lucro
segmento
Governo            3898805.83   41584282.5  10919978.17        280.09
Grandes empresas   1457305.62   20568882.0   -957187.63        -65.68
Médias empresas     200786.92    1746100.0    635783.07        316.65
Pequenas empresas  3513781.50   38641000.0   3786918.50        107.77
Vendas online       134568.36     491233.8   1309359.84        973.01

#### Por Produto

In [36]:
colunas = ['desconto', 'custo_total', 'lucro']
df_produto = df.groupby('produto')[colunas].sum().round(2)
df_produto['margem_lucro'] = round((df_produto['lucro'] / df_produto['desconto']) * 100,2)
df_produto

             desconto  custo_total       lucro  margem_lucro
produto
Produto 1  1122212.62   13187353.3   627954.58         55.96
Produto 2  1159032.62   13276047.0  2114754.88        182.46
Produto 3  2600518.05   28213706.0  4797437.95        184.48
Produto 4  1576709.04   15944067.0  2305992.46        146.25
Produto 5  1456612.48   17477313.0  3034608.02        208.33
Produto 6  1290163.44   14933012.0  2814104.06        218.12

#### Por País

In [37]:
colunas = ['desconto', 'custo_total', 'lucro']
df_pais = df.groupby('país')[colunas].sum().round(2)
df_pais['margem_lucro'] = round((df_pais['lucro'] / df_pais['desconto']) * 100,2)
df_pais

            desconto  custo_total       lucro  margem_lucro
país
Alemanha  1416126.68   20094218.6  3411122.22        240.88
Canadá    2044508.62   21575835.9  3311818.98        161.99
Chile     1777582.89   18290422.3  2658929.81        149.58
EUA       2239527.84   22194424.3  2835405.86        126.61
França    1727502.22   20876597.2  3477575.08        201.31